<html lang="en">
    <%- include("./partials/header.ejs") %> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="complete.css">
    <title>Order Complete - Sun Devil Pizza</title>
</head>
<body>
    <div class="grid">
        <div class="orderComplete">
            <h1>Thank you for choosing Sun Devil Pizza!</h1>
            <h2>Your order is being prepared and will be ready for pickup shortly!</h2>
            <img class="tridentImg" src="trident.png" alt="">
            <div class="homeButton">
                <a href="/" style="--clr:red"><span>Home</span><i></i></a>
            </div>
        </div>
    </div>
</body>
</html>