<html lang="en">
    <%- include("./partials/header.ejs") %> 
    <head>
        <meta charset="utf-8">
        <title>Manage Orders - Sun Devil Pizza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="cookscreen.css">
        <style>
            .incomingOrdersText {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                float: left;
            }
            .dateTimeOrderPlaced {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                float:left;
}

            .statusText {
                width: 33%;
                height: 36px;
                color: #ffffff;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                float:right
            }



            .rectangle-2 {
                width: 32%;
                height: 176px;
                color: #ffffff;
                font-family: "Helvetica";
                padding: 8px 8px 8px 8px;
                box-shadow: 0px 1px 5px rgba(189, 189, 189, 0.75);
                background: #1c1c21;
                border-radius: 2px 2px 0px 0px;
                float: left;
            }
            .rectangle-3 {
                width: 31%;
                height: 176px;
                color: #ffffff;
                font-family: "Helvetica";
                padding: 8px 8px 8px 8px;
                box-shadow: 0px 1px 5px rgba(189, 189, 189, 0.75);
                background: #1c1c21;
                border-radius: 2px 2px 0px 0px;
                float:left;
            }
            .rectangle-4 {
                width: 30%;
                height: 176px;
                color: #7bf5d9;
                font-family: "Helvetica";
                padding: 8px 8px 8px 8px;
                box-shadow: 0px 1px 5px rgba(189, 189, 189, 0.75);
                background: #1c1c21;
                border-radius: 2px 2px 0px 0px;
                float:left;
            }
            
        </style>
    </head>
    <body style="background-color:#1c1c21;">
       <div class="incomingOrdersText">Incoming Orders</div>
       <div class="dateTimeOrderPlaced">Date/Time Order Placed</div>
       <div class="statusText">Order Status</div>
       <div class="rectangle-2">Order 12579:
        <br>1x Large Pizza
        <br>&ensp;&ensp;&ensp;&ensp;&thinsp;-Pepperoni
        <br>&ensp;&ensp;&ensp;&ensp;&thinsp;-Bacon
        <br>1x Breadstick
       </div>
       <div class="rectangle-3">09/25/2022 05:24 PM</div>
       <div class="rectangle-4"><label for="OrderStatus"></label>
        <select name="OrderStatus" id="OrderStatus">
          <option style="background-color: #1c1c21; color:#ffffff;" value="Cooking" selected>Cooking</option>
          <option value="Picked Up">Picked Up</option>
          <option value="Completed">Completed</option>
          <option value="Canceled">Canceled</option>
        </select></div>
    </body>
</html>