<html lang="en">
    <%- include("./partials/header.ejs") %> 
    <head>
        <meta charset="utf-8">
        <title>Start Order - Sun Devil Pizza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="StartOrder.css">
    </head>
    <body>
        <div class="orderContainer">
            <div class="startOrderRectangle">
                <div class="centerContainer">
                    <h1 class="startOrderText">For Pickup</h1>
                    <div class ="startOrderCircle">
                        <img src="PickupPhoto.png" alt="" class="startOrderImage">
                    </div>
                    
                    </div>
                      <!--Line 20: insert next page-->
                    <form action="/menu">
                        <div class="container">
                            <div class="center">
                                <button type="submit" class="btn">
                                  <!-- <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                                  </svg> -->
                                  <span>Continue</span>
                                </button>
                              </div>
                        </div>
                    </form>     
                </div>



            </div>
            <!-- <div class="startOrderCircle">
                <img src="PickupPhoto.png" class="startOrderImage">
            </div>
            <h2 class="enterASUID">Enter Your ASU ID</h2>
            <input type="text" class="enterASUIDInput">
            <button class="startOrderContinue">Continue</button> -->
        </div>
    </body>
</html>