.grid {
    display: grid;
    place-items: center;
    margin:5%;
}
.orderComplete {
    background: rgb(39, 37, 37);
    height: 750px;
    width: 1500px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    color: #BFBFBF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.orderComplete h1 {
    font-size: 50px;
}

.orderComplete h2 {
    font-size: 25px;
}

.tridentImg {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 205px;
    height: 385px;
}

.tridentImg:hover {
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.homeButton * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.homeButton {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 15%;
}

.homeButton a {
    position: relative;
    background: #BFBFBF;
    color: #BFBFBF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.homeButton a:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em; 
    box-shadow: 0 0 35px var(--clr);
}

.homeButton a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.homeButton a span {
    position: relative;
    z-index: 1;
}

.homeButton a i {
    position: absolute;
    inset: 0;
    display: block;
}

.homeButton a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 20px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg); 
    transition: 0.5s;
}

.homeButton a:hover i::before {
    width: 20px;
    left: 20%;
}

.homeButton a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 20px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg); 
    transition: 0.5s;
}

.homeButton a:hover i::after {
    width: 20px;
    left: 80%;
}

